<template name="templateFooter">
	<footer class="footer-main-template">
		<nav class="main-footer-menu">
			<button class="btn-main-footer btn-right-footer">
				<img src="icons/white/MapMarker.png">
				<p style="margin-top: -17px;font-size: 10px;color: #fff;">{{#if englishSetter}}Map{{else}}Mapa{{/if}}</p>
			</button>
			<button class="btn-main-footer btn-center-footer active">
				<img src="icons/white/Lifebuoy.png">
				<p style="margin-top: -17px;font-size: 10px;color: #fff;">{{#if englishSetter}}Beaches{{else}}Praias{{/if}}</p>
			</button>
			<button class="btn-main-footer btn-left-footer">
				<img style="margin-top: -20px;" src="icons/white/infoRight.png">
				<p style="margin-top: -17px;font-size: 10px;color: #fff;">Info</p>
			</button>
		</nav>
	</footer>
</template>