html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
	background: #E0E0E0;
	/*background: #fff;*/
   /*background: rgba(90,200,250, 0.25);*/
	font-family: 'Source Sans Pro', sans-serif;
}
h1{
	font-family: 'Source Sans Pro', sans-serif;
}
button, a{
	outline: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
/*--------------------------------------START HEADER-------------------------------------*/
.header-main-nav{
	width: 100%;
    height: 52px;
    background-color: #048BA8;
    font-family: 'Pacifico', cursive;
    position: fixed;
    top: 0;
    z-index: 100;
	-webkit-box-shadow: 0px 0px 28px -8px rgba(0,105,148,1);
	-moz-box-shadow: 0px 0px 28px -8px rgba(0,105,148,1);
	box-shadow: 0px 0px 28px -8px rgba(0,105,148,1);
}
.btn-voltar{
	background-color: transparent;
	border: none;
	height: 100%;
    color: #fff;
    font-size: 33px;
	padding: 0 35px 0 0;
    display: inline-block;
}
.btn-mapa-interaction{
	background-color: transparent;
	border: none;
	height: 100%;
    color: #fff;
    font-size: 28px;
	padding: 0 35px 4px 12px;
    display: inline-block;	
}
.title-main-app{
	color: #fff;
	/*color: #000;*/
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    font-weight: bold;
}
/*--------------------------------------END HEADER-------------------------------------*/
/*--------------------------------------START FOOTER-------------------------------------*/
.footer-main-template{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 52px;
	z-index: 100;
	background-color: #048BA8;
	/*background-color: #6f9ad4;*/
	/*background-color: rgba(90,200,250, 1);*/
	/*background-color: #fff;*/
	-webkit-box-shadow: 0px 0px 28px -8px rgba(0,105,148,1);
	-moz-box-shadow: 0px 0px 28px -8px rgba(0,105,148,1);
	box-shadow: 0px 0px 28px -8px rgba(0,105,148,1);	
}
.btn-main-footer{
	background-color: transparent;
	border: none;
	color: #ccc;
	font-size: 3.4rem;
	width: 33.333%;
	height: 57px;
	float: left;
	padding: 0.5% 0 0 0;

}
.active{
	border-bottom: solid 8px #014B60;
}
.btn-main-footer img{
	height: 32px;
	/*margin-bottom: 8px;*/
	margin-top: -22px;
}
/*--------------------------------------END FOOTER-------------------------------------*/
/*--------------------------------------START Main Screen-------------------------------------*/
.emitido-title{
	text-align: center;
}
.info-left-praia{
	min-width: 100px;
	display: inline-block;
	float: right;
}
.info-left-praia small{
	font-size: 16px;
	display: block;
	margin-top: -14px;
}
.info-right-praia{
	min-width: 100px;
	display: inline-block;
	font-size: 6rem;
	float: right;
}
.info-right-praia:last-of-type{
	float: right;
	/*margin-right: 8px;*/
}
.info-right-praia small{
	font-size: 16px;
	display: block;
	margin-top: -14px;
}
.numero-praias{
	width: 100%;
	margin: auto;
	/*margin-bottom: 4%;*/
	background-color: #fff;
	/*background-color: #01A1FF;*/
	font-weight: bold;
	color: #000;
	/*color: #fff;*/
	padding: 5%;	
	text-align: center;
}
.numero-praias h5{
	float: left;
	text-align: center;
	width: 100%;
}
.info-right-praia{
	text-align: center;
}
.texto-praias{
	width: 100%;
	margin: auto;
	/*margin-bottom: 4%;*/
	background-color: #fff;
	/*background-color: rgba(85, 212, 230, 0.7);*/
	font-weight: bold;
	padding: 5%;
}
.container-main{
	margin-bottom:15%;
	padding: 0;
}
.lang-btn{
	background: #fff;
	color: grey;
	height: 60px;
	border-radius: 50px;
	width: 47%;
	border: none;
	font-size: 16px;
	display: inline-block;
	float: left;
	-webkit-box-shadow: inset 0px 0px 23px -19px rgba(0,0,0,0.75);
	   -moz-box-shadow: inset 0px 0px 23px -19px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 23px -19px rgba(0,0,0,0.75);
}
.lang-selected{
	color: #000;
	-webkit-box-shadow: 0px 2px 29px -13px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0px 2px 29px -13px rgba(0,0,0,0.75);
			box-shadow: 0px 2px 29px -13px rgba(0,0,0,0.75);
}
.brasil-anil{
	float: left;
}
.english-teapot{
	float: right;
}
/*--------------------------------------END Main Screen-------------------------------------*/
/*--------------------------------------START Lista Praia-------------------------------------*/
.town{
	display: block;
	overflow: hidden;
	padding: 0;
	background: transparent;
	border:0;
	margin-top: -3px;
	margin-bottom: 10px;
	width: 100%;
	height: 100%;
	-webkit-transition: width 1s;
	   -moz-transition: width 1s;
	    -ms-transition: width 1s;
	     -o-transition: width 1s;
			transition: width 1s;

}
.town.left img{
	width: 100%;
    height: 176px;
    /*height: 145px;*/
    float: right;
}
.town.right img{
	width: 100%;
    height: 176px;
    /*height: 145px;*/
    float: left;
}
.city-holder{
	position: relative;
	height: 176px;
	/*height: 145px;*/
}
.style-city{
	width: 100%;
	height: 100%;
	/*height: 30px;*/
	/*background: #B2DFDB;*/
	/*background: #BF360C;*/
	/*background: rgba(0,0,0, .1);*/
	position: absolute;
	bottom: 0;
	/*bottom: -16px;*/
}
/* #triangle-right { 
	width: 100%;
	height: 100%;*/
	/*background: #B2DFDB;*/
	/*background: #048BA8;*/
	/*background: rgba(0,0,0, .3);
	position: absolute;
	top: 0;
	border-top-right-radius: 3px;
}
 #triangle-left {
 	width: 0;
    height: 0;
    position: absolute;
    right: 135px;
    top: 0;
    border-top: 140px solid transparent;
    border-right: 100px solid #B2DFDB;*/
    /*border-right: 100px solid #048BA8;*/
    /*border-right: 100px solid rgba(0,105,148, 1);*/
    /*border-bottom: 0 solid transparent;
}*/
.show-praias-all{
	display: none;
	height: 0;
	overflow-x: hidden;
	margin: 50px 0 50px 0;
	float: right;
	width: 100%;
	-webkit-transition: height .5s;
	   -moz-transition: height .5s;
	    -ms-transition: height .5s;
	     -o-transition: height .5s;
	        transition: height .5s;
}
.pseudo-back-btn{
	position: fixed;
	display: none;
	top: 3px;
	z-index: 100;
	background: transparent;
	border: 0;
	font-size: 33px;
	padding: 0 10px 0 10px;
	color: #fff;
}
.show-praias-all .img-cover{
	height: 178px;
	min-width: 100%;
}
.text-town{
	position: absolute;
	bottom:6px;
    /*top: 0;
    z-index: 10;
    color: #212121;*/
    color: #fff;
	/*margin-top: 35px;*/
	text-align: left;
	padding-left: 11px;
}
.text-town h3{
	font-weight: bold;
}
.text-town h3, .text-town h4{
	display: inline;
	width: 30px;
}
/*.text-downtown{
	right: 24px;
}
.text-uptown{
	left: 22px;
}*/
.section-lista-praias{
	padding-top: 4%;
	padding-bottom: 46px;
	/*padding-bottom: 54px;*/
	/*height: 100vh;*/
}
.section-lista-praias p{
	margin-bottom: 0;
	color: #000;
}
.praias-header-wrapper{
	background: #048BA8;
	margin-top: -5px;
	height: 0;
	overflow: hidden;
	color: #fff;
	-webkit-transition: height 0.8s;
	   -moz-transition: height 0.8s;
		    transition: height 0.8s;
}
.praias-header-wrapper h4{
	text-align: center;
	font-size: 18px;
	padding: 2px 32px;
}
@keyframes pulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.4); } 
  35% {transform: scale(1.6); } 
  50% {transform: scale(.9);} 
  65% {transform: scale(1.4);} 
  80% {transform: scale(1.6);} 
  100% {transform: scale(1.1);}
}
.help-badge{
	animation: pulse 2s 1;
}
.component-praia{
	min-width: 100%;
	overflow:hidden;
    background-color: #fff;
    font-weight: bold;
    border-bottom: 0;
    border-top: 0;
}
.component-praia{
	z-index: 5;
}
.component-praia-inner-wrapper{
	padding:3%;
	height: 100%;
}
.praia-inside-comp{
	display: inline-block;
	border: none;
	position: relative;
}
.codigo-absolute{
	position: absolute;
	font-size: 12px;
	bottom: -25px;
	width: 150px;
	color:#eee;
}
.praia-in-name{
	font-size: 2rem;
	color: #000;
	line-height: 350%;	
}
.praia-in-btn{
	color: #000;
	background-color: transparent;
	font-size: 3rem;
	line-height: 200%;
	float:right;
}
.icon-praia{
	font-size: 2.5rem;
	color: #000 ;/*
	color: #201c54 ;*/
}
/*--------------------------------------END Lista Praia-------------------------------------*/
/*--------------------------------------START Mapa -------------------------------------*/
.list-section{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(224,224,224, 0.9);
	overflow-x: hidden;
	padding-top: 44px;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
			transition: 0.5s;
}
.locais-names{
	min-width: 225px;
}
#search-bar{
	background: #fff;
	color: #000;
	border: none;
	box-shadow: none;
	height: 54px;
	font-size: 18px;
	margin-top: 10px;
	border-radius: 0;
}
.side-menu-item{
	margin-bottom: 16px;
}
.side-menu-item p{
	margin-bottom: 0;
}
.map-container {
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 50px;
}
/*.map-canvas{
	height: 82% !important;
}*/
/*--------------------------------------END Mapa-------------------------------------*/
/*--------------------------------------START Praia info-------------------------------------*/
.praiaPage-holder{
	background-image: url(propria2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 86vh;
    width: 100%;
    position: fixed;
}
.praia-info-container{
	text-align: center;
	background-color: transparent;
	color: #fff;
	min-height: 252px;
	padding: 10px;
}
.info-title{
	text-align: center;
	padding-top: 54px;
	font-size: 40px;
	font-weight: bold;
}
.info-praia-container{
	background: transparent;
    height: 40vh;
    color: #fff;
    text-align: center;
}
.info-praia-container h3{
	margin: 0;
	padding: 15px 0 15px 15px;
	font-size: 22px;
}
/*--------------------------------------END Praia info-------------------------------------*/
/*--------------------------------------START Chart-------------------------------------*/
.chart-holder{
	width: 172px;
	height: 172px;
	float: left;
	margin-top: 18px;
	margin-left: 20px;
}
/*--------------------------------------END Chart-------------------------------------*/
/*--------------------------------------START BACKUP ---------------------------------*/
.section-hidden-wrapper{
	height: 100%;
	background: #fff;
}
.input-holder{
	max-width: 300px;
	margin: 0 auto;
	padding-top: 40px;
}
#login-buttons{
	width: 100%;
	margin-top: 55px;
}
#login-sign-in-link, .login-close-text, #forgot-password-link, 
#login-buttons-open-change-password, #signup-link, .additional-link-container{
	display: none!important;
}

.login-link-and-dropdown-list{
	height: 0;
	text-decoration: none;
	border-radius: 10px;
	text-align: center;
}
#login-dropdown-list{
	display: block;
	position: inherit;
	margin: 0 auto;
	background: transparent;
	border: none;
	box-shadow: none;
}
/*--------------------------------------END BACKUP ---------------------------------*/