<template name="listaPraias">
	<button class="pseudo-back-btn">
		<i class="fa fa-chevron-left"></i>
	</button>
	<section class="section-lista-praias">
		<hr style="margin-bottom: 18px;">
		
		<div class="praias-header-wrapper">
			<h4>Escolha pela zona para ver quais praias estão próprias para banho <i class="fa fa-exclamation-circle help-badge" aria-hidden="true"></i></h4>
		</div>
		
		<div class="button-cities-holder">

			<button class="town right zona1-show">
				<figure class="city-holder">
					<img src="/suburbio.jpg">
					<div class="style-city">
						<div class="text-town text-downtown">
							<h3>Zona 1</h3>
							<h4> - Subúrbio</h4>
						</div>
					</div>
				</figure>
			</button>

			<button class="town left zona2-show">
				<figure class="city-holder" style="overflow: hidden;">
					<img src="/pelourinho4.jpg" style="height: 176px;">
					<div class="style-city">
						<div class="text-town text-uptown">
							<h3>Zona 2</h3>
							<h4> - Cidade Baixa</h4>
						</div>
					</div>
				</figure>
			</button>

			<button class="town right zona3-show">
				<figure class="city-holder">
					<img src="/farolBarra2.jpg">
					<div class="style-city">
						<div class="text-town text-downtown">
							<h3>Zona 3</h3>
							<h4> - Barra/Pituba</h4>
						</div>

					</div>
				</figure>
			</button>

			<button class="town left zona4-show">
				<figure class="city-holder">
					<img src="/farolitapua.jpg">
					<div class="style-city">
						<div class="text-town text-uptown">
							<h3>Zona 4</h3>
							<h4> - Itapuã/Ipitanga</h4>
						</div>
					</div>
				</figure>
			</button>

		</div>
	</section>

	<section class="show-praias-all">
		<img class="img-cover" src="/{{getPraiaImg}}.jpg">
		{{#each populatePraias}}
			{{> sectionPraia}}
		{{/each}}
	</section>
</template>

<template name="sectionPraia">
		<div class="component-praia" style="{{setColor this}}">
		<a href="{{pathFor 'praiaPage' data=idCaller}}">
			<div class="component-praia-inner-wrapper">
				<div class="praia-inside-comp praia-in-icon">
					<!-- <i class="icon-praia fa fa-{{returnIcon qualidade}}" aria-hidden="true"></i> -->
				</div>
				<div class="praia-inside-comp praia-in-name">
					<p>Praia {{praia}} {{codeFormat codigo}}</p>
				</div>
				<button class="praia-inside-comp praia-in-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</div>
		</a>
		</div>
</template>