<template name="listaPraias">
	<section class="section-lista-praias">
		<hr style="margin-bottom: 18px;">

		<div class="button-cities-holder">

			<button class="town right zona1-show">
				<figure class="city-holder">
					<img src="/suburbio.jpg">
					<div class="style-city-left">
						<div class="text-town text-downtown">
							<h3>ZONA 1</h3>
							<hr>
							<h4>Subúrbio</h4>
						</div>

					</div>
					<div id="triangle-left"></div>
				</figure>
			</button>

			<button class="town left zona2-show">
				<figure class="city-holder">
					<img src="/pelourinho4.jpg">
					<div class="style-city-right">
						<div class="text-town text-uptown">
							<h3>ZONA 2</h3>
							<hr>
							<h4>Cidade Baixa</h4>
						</div>
					</div>
					<div id="triangle-right"></div>
				</figure>
			</button>

			<button class="town right zona3-show">
				<figure class="city-holder">
					<img src="/farolBarra2.jpg">
					<div class="style-city-left">
						<div class="text-town text-downtown">
							<h3>ZONA 3</h3>
							<hr>
							<h4>Barra/Pituba</h4>
						</div>

					</div>
					<div id="triangle-left"></div>
				</figure>
			</button>

			<button class="town left zona4-show">
				<figure class="city-holder">
					<img src="/farolitapua.jpg">
					<div class="style-city-right">
						<div class="text-town text-uptown">
							<h3>ZONA 4</h3>
							<hr>
							<h4>Itapuã/Ipitanga</h4>
						</div>
					</div>
					<div id="triangle-right"></div>
				</figure>
			</button>

		</div>

		<div class="show-praias-all">
			{{#each populatePraias}}
				{{> sectionPraia}}
			{{/each}}
		</div>
	</section>
</template>

<template name="sectionPraia">
		<div class="component-praia" style="{{setColor this}}">
		<a href="{{pathFor 'praiaPage' data=idCaller}}">
			<div class="component-praia-inner-wrapper">
				<div class="praia-inside-comp praia-in-icon">
					<i class="icon-praia fa fa-{{returnIcon qualidade}}" aria-hidden="true"></i>
				</div>
				<div class="praia-inside-comp praia-in-name">
					<p>{{praia}}</p>
					<span class="codigo-absolute">- {{codigo}}</span>
				</div>
				<button class="praia-inside-comp praia-in-btn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</div>
		</a>
		</div>
</template>